* { padding:0; margin:0;
}
.clear {clear:both;}
a {
	color: #5B920A;
}

body {background:#fff url(../images/bg.jpg) repeat-x; font: 11px Verdana, Arial, Helvetica, sans-serif; color:#333;}
#wrap {width:954px; margin:25px auto;}
#header {background:url(../images/header.png) no-repeat; height:207px; }
#logo #sitename {
	font-size: 36px;
	color: #000000;
	display: block;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #C6C6C6;
}
#job_content {
  font-size: 16px; 
  margin-left: 30px;
}
#headercontent h2 {
	font-size: 18px;
	color: #5B920A;
}
#wrap #header #logo .description {
	display: block;
	text-align: center;
	font-size: 16px;
	padding-top: 10px;
}
#wrap #header #headercontent p {
	color: #666666;
}
#wrap #header #sitecption {
	margin-right: 380px;
	margin-left: 380px;
	padding-top: 85px;
	color: #FFFFFF;
	font: bold 16px "Trebuchet MS", halvetica, Verdana, sans-serif;
}
.bigger {
	font: 18px "Trebuchet MS", halvetica, Verdana, sans-serif;
	color: #C0EC15;
}

#job_right { float:right; margin-right:400px; }

#wrap #header #logo {
	width: 260px;
	padding-top: 50px;
	padding-left: 50px;
	height: 150px;
	float: left;
}
#wrap #header #headercontent {
	width: 300px;
	float: right;
	padding-right: 55px;
	padding-top: 60px;
	height: 125px;
}

#main {background:url(../images/pagebg.png) repeat-y; padding:2px 9px 0 9px; margin:0;}
#menus {background:url(../images/menu.jpg) no-repeat; width:936px; margin:0 auto 10px auto; height:88px;}#submenu ul {
	list-style: none;
}
#submenu li {
	display: inline;
}
#submenu a {
	background: url(../images/submenudevider.png) no-repeat left;
	display: block;
	float: left;
	height: 16px;
	padding-top: 2px;
	padding-right: 15px;
	padding-left: 15px;
	color: #666666;
	text-decoration: none;
}
#mainmenu {
	height: 55px;
	font: bold 14px "Trebuchet MS", halvetica, Verdana, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	padding-top: 10px;
	padding-right: 22px;
	padding-left: 22px;
}
#mainmenu a {
	display: block;
	height: 40px;
	padding-right: 25px;
	padding-left: 25px;
	float: left;
	text-decoration: none;
	padding-top: 15px;
	background: url(../images/menudevider.png) no-repeat 0px 3px;
	color: #5B920A;
}
#mainmenu .first a {
	background: none;
}

#mainmenu li {
	display: inline;
}
#mainmenu a:visited, #mainmenu a:active {text-decoration:none; color: #5B920A;}
#mainmenu .active a {background:url(../images/menuactive.gif) no-repeat center top; color:#fff;}
#wrap #main #content {
	padding: 10px;
}
#mainmenu a:hover {color:#fff;}
#homeleft {width:480px; float:left;}
#homeleft1 { margin-left:20px; width:300px; float:left; }
#homeright1 { margin-left:320px; }
#fenye { margin-left:820px; }
#paixu { margin-left:10px; }
#homeright { margin-left:500px; }
h1, h2, h3, h4 { font-family:"Trebuchet MS", halvetica, Verdana, sans-serif;}
h1 {font-size:22px;}
h2 {font-size:18px;}
h3 {font-size:16px;}
h4 {font-size:14px;}
#main h2 {color:#333; display:block; padding:3px 0 8px 0;}
#main_content { height:700px; }
h1 { margin-left:20px; }
.green {
	color: #5B920A;
}
#homeright h3 {
	color: #5B920A;
	font-weight: normal;
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 8px;
}
#main  p {
	line-height: 16px;
	margin-bottom: 18px;
}
#homeright .column1 {
	width: 31%;
	float: left;
	padding-right: 5px;
}
#homeright .column3 {
	float: left;
	width: 32%;
	padding-left: 8px;
}
#homeright .column2 {
	float: left;
	width: 33%;
}
a:visited, a:active {
	color: #5B920A;
}
a:hover {
	color: #BDEB16;
	text-decoration: none;
}
#wrap #footer {
	background: url(../images/footer.png) no-repeat;
	height: 70px;
	padding-top: 15px;
	text-align: center;
}
#mainmenu ul {list-style:none;}
#submenu a:visited, #submenu a:active {
	background: url(../images/submenudevider.png) no-repeat left;
	display: block;
	float: left;
	height: 16px;
	padding-top: 2px;
	padding-right: 15px;
	padding-left: 15px;
	color: #666666;
	text-decoration: none;
}
#submenu a:hover {

	background: url(../images/submenudevider.png) no-repeat left;
	display: block;
	float: left;
	height: 16px;
	padding-top: 2px;
	padding-right: 15px;
	padding-left: 15px;
	color: #000000;
	text-decoration: none;
}
#mainmenu .first a:visited, #mainmenu .first a:active {

	background: none;
}
#productlist {
	list-style: none;
}
#productlist li {
	display: block;
	padding: 3px;
	border-bottom: 1px solid #eee;
}
.productimage {
	float: left;
}
.post .date {
	font-size: 10px;
}
.post h3 {
	font-size: 14px;
	text-transform: uppercase;
	display: block;
	margin-bottom: 15px;
}
.post {
	padding: 5px;
	margin-bottom: 15px;
}
#sidebar1 {
	float: left;
	width: 49%;
}
#sidebar2 {
	float: right;
	width: 49%;
}
#homeright  ul {
	list-style: none;
}
#homeright li {
	display: block;
	border-bottom: 1px solid #eee;
	height: 18px;
}
#homeright li a {
	display: block;
	height: 15px;
	padding-top: 2px;
	color: #999999;
	text-decoration: none;
	background: url(../images/bullet.png) no-repeat 0px 3px;
	padding-left: 15px;
}

.form {margin:10px 25px 10px 50px;}
.form .text {
	display:block;
	border:1px solid #666666;
	background: #efefef;
	width:250px;
	padding:5px;
	font-size:14px;
	color:#000000;
}
.form label {display:block; margin-bottom:3px; margin-top:10px;}
.form .text:hover{background:#FFFFFF; border: solid 1px #000000;}
.form .text:focus {
	background:#efefef;
	border: 1px solid #669900;
}
.form .button {
	display:block;
	border:1px solid #666666;
	background:#efefef;
	padding:5px 10px 5px 10px;
	margin:10px 0px 10px 0px;
}
.form .button:hover {
	display:block;
	border:1px solid #666666;
	background: #ffffff;
	padding:5px 10px 5px 10px;
	margin:10px 0px 10px 0px;
}


/*FBG*/
.FBG { border-top:1px solid #d4d4d4;/* background:#e5e5e5;*/ margin:0; padding:0;}
.FBG_resize { width:950px; margin:120px auto; padding:0;}
.FBG_resize h2 { font:bold 14px Arial, Helvetica, sans-serif; color:#2c2c2c; border-bottom:1px solid #cccccc; padding:1px 5px; margin:0 0 10px 0;}
.FBG_resize p { font:normal 11px Arial, Helvetica, sans-serif; color:#6f6f6f; line-height:1.8em; padding:5px 5px; margin:0;}
.FBG_resize p span { color:#26b1b2;}
.FBG_resize img { float:left; margin:10px 20px 10px 10px; padding:0;}
.FBG_resize .blooga { width:300px; float:left; margin:10px 5px; padding:10px 2px;}
.FBG_resize .clients { width:292px; height:132px; margin:10px auto; padding:0; background: url(../images/say_bg.gif) top no-repeat;}

/*************footer**********/
.footer {padding:0; margin:0; border-top:1px solid #fff; background:#353535;}
.footer_resize {width:900px; margin:0 auto; padding:0; }
.footer p { font:normal 11px  Arial, Helvetica, sans-serif; color:#909090; padding:10px 0 0 0;}
.footer a { font:bold 11px Arial, Helvetica, sans-serif; color:#909090; text-decoration:underline; padding:5px 5px; margin:0;}
.footer img {margin:0px 5px; padding:0; float:left;}
.footer p.leftt { text-align:right; width:30%; margin:0; padding:40px 0; float:left;} 
.footer p.rightt { text-align:right; width:40%; margin:0; padding:40px 0; float:right;} 

p.clr, .clr { clear:both; padding:0; margin:0; background:none;}
li.bg, .bg { clear:both; border-top:1px solid #dad9d9; padding:0; margin:20px 0; background:none; line-height:0;}



table.helpT
{ text-align: center;
font-family: Verdana;
font-weight: normal;
font-size: 11px;
color: #404040;
width: 500px;
background-color: #fafafa;
border: 1px #6699CC solid;
border-collapse: collapse;
border-spacing: 0px; }

td.helpHed
{ border-bottom: 2px solid #6699CC;
border-left: 1px solid #6699CC;
background-color: #BEC8D1;
text-align: left;
text-indent: 5px;
font-family: Verdana;
font-weight: bold;
font-size: 11px;
color: #404040; }

td.helpBod
{ border-bottom: 1px solid #9CF;
border-top: 0px;
border-left: 1px solid #9CF;
border-right: 0px;
text-align: left;
text-indent: 10px;
font-family: Verdana, sans-serif, Arial;
font-weight: normal;
font-size: 11px;
color: #404040;
background-color: #fafafa; }

table.sofT
{ text-align: center;
font-family: Verdana;
font-weight: normal;
font-size: 11px;
color: #404040;
width: 880px;
background-color: #fafafa;
border: 1px #6699CC solid;
border-collapse: collapse;
border-spacing: 0px; } 


table.servicesT
{ font-family: Verdana;
font-weight: normal;
font-size: 11px;
color: #404040;
width: 900px;
background-color: #fafafa;
border: 1px #F5F5DC solid;
border-collapse: collapse;
border-spacing: 0px;
margin-top: 0px;}


table.servicesT td.servHd
{ border-bottom: 2px solid #6699CC;
background-color: #F5F5F5;
text-align: center;
font-family: Verdana;
font-weight: bold;
font-size: 11px;
color: #404040;}


table.servicesT td
{ border-bottom: 1px dotted #6699CC;
font-family: Verdana, sans-serif, Arial;
font-weight: normal;
font-size: 11px;
color: #404040;
background-color: white;
text-align: center;
padding-left: 3px;}

.servBodL { border-left: 1px dotted #F5F5F5; } 
