<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Wando 团队招聘后台管理</title>
    <link rel="shortcut icon" href="images/head.ico"></link>
    <link rel="stylesheet" type="text/css" href="/rs/ext2/resources/css/ext-all.css" />
    <!-- GC -->
 	<!-- LIBS -->
 	<script type="text/javascript" src="/rs/ext2/ext-base.js"></script>
 	<!-- ENDLIBS -->

    <script type="text/javascript" src="/rs/ext2/ext-all.js"></script>

    <!-- DESKTOP -->
    <script type="text/javascript" src="/rs/js/StartMenu.js"></script>
    <script type="text/javascript" src="/rs/js/TaskBar.js"></script>
    <script type="text/javascript" src="/rs/js/Desktop.js"></script>
    <script type="text/javascript" src="/rs/js/App.js"></script>
    <script type="text/javascript" src="/rs/js/Module.js"></script>
    <script type="text/javascript" src="/rs/manage.js"></script>
    <script type="text/javascript" src="/rs/manage/user.js"></script>
    <script type="text/javascript" src="/rs/manage/position.js"></script>
    <script type="text/javascript" src="/rs/manage/questionBase.js"></script>
    <script type="text/javascript" src="/rs/manage/paper.js"></script>
    <script type="text/javascript" src="/rs/manage/resume.js"></script>
    <script type="text/javascript" src="/rs/manage/decesion.js"></script>

    <!-- 动态时间 js文件-->
    <script type="text/javascript" src="../javascripts/muen.js"></script>
    

    <link rel="stylesheet" type="text/css" href="/rs/css/desktop.css" />
</head>
<body scroll="no">

<div id="x-desktop">
    <a href="http://wando.heroku.com" target="_blank" style="margin:5px; float:right;"><img src="/rs/images/powered.gif" /></a>

    <dl id="x-shortcuts">
        <dt id="questionBase-shortcut" onclick='jacascript: Manage.questionBase.createWindow()'>
            <a href="#"><img src="/rs/images/s.gif" /><div>题库</div></a>
        </dt>
        <dt id="positionManage-shortcut" onclick='javascript: Manage.positoinManage.createWindow()'>
            <a href="#"><img src="/rs/images/s.gif" /><div>职位管理</div></a>
        </dt>
        <dt id="paperCenter-shortcut" onclick='javascript: Manage.paperCenter.createWindow()'>
            <a href="#"><img src="/rs/images/s.gif" /><div>问卷中心</div></a>
        </dt>
        <dt id="resumeCenter-shortcut" onclick='javascript: Manage.resumeCenter.createWindow()'>
            <a href="#"><img src="/rs/images/s.gif" /><div>简历中心</div></a>
        </dt>
        <dt id="decesionCenter-shortcut" onclick='javascript: Manage.decesionCenter.createWindow()'>
            <a href="#"><img src="/rs/images/s.gif" /><div>筛选中心</div></a>
        </dt>
    </dl>
</div>

<div id="ux-taskbar">
	<div id="ux-taskbar-start"></div>
	<div id="ux-taskbuttons-panel">
  <!-- 时间动态显示  -->
      <div id="time-font"> 
          <SCRIPT type=text/javascript>
              var clock = new Clock();
              clock.display(document.getElementById("time-font"));
          </SCRIPT>
      </div>
  </div>
	<div class="x-clear"></div>
</div>

</body>
</html>

