<div id="content">
      <div id="homeleft">
        <h2>关于<span class="green">我们</span></h2>
        <p>本次的课程从整个的设计及编程来讲，具体分为前台设计和后台管理的设计，具体如下：</p>
        <p>前台美观设计主要负责人为王少锐、邬晓玲和李泽森。前期讨论了色彩的基调和网站的布局；如以黑色绿色为网站背景主题，是结合体现了黑色的沉稳和绿色的活力以及希望的体现。色彩的采用都是结合招聘网站的设计主题。而布局是参考了多数网站的导航条功能为启发，分布罗列了网站的主要功能。 </p>
        <p>后台逻辑管理的分析和设计主要负责人为刘润泽、王少锐和江益波。起初的后台界面是参考普通网站的后台，但是本着学习的态度，最后采用Extjs的后台编程，实现类似windows前台界面，以图标的形式更为有创新。</p>
        <p>逻辑的梳理是最为复杂的。实际的招聘流程中包含了填写简历、面试、成绩公示等等环节，但到物理设计阶段，如何串联整个流程才是最为重要。我们团队5人在几次会议中都提出了自己的观点，加入了新的功能，例如加入问卷的功能使公司的面试人更大的把握应聘人员的实力和思想。总的来说达到了我们起初的目的。 </p>
        <h2>开发 <span class="green">人员</span></h2>
        <p>*1.com招聘网专注于企业人才招聘，为您揽集您需要的人才.
*1.com 是我们招聘网代号，它代表惠州学院计算机系08级计算机1班.
*该网站由08计1的网站建设小团队集体完成，团队成员分别是王少锐、刘润泽、李泽森、邬晓玲、江益波. <img src="../images/bullet.png" alt="" width="10" height="10" /> <a href="http://www.865171.cn/">Read More </a></p>
        <p>&nbsp;</p>
      </div>
      <div id="homeright">
        <h2> 我们 <span class="green">图片show</span></h2>
        <div class="column1"> <img src="../images/xiaoling.gif" alt="" width="117" height="85" />
          <h3>邬晓玲 </h3>
          <p> Aliquam congue, elit vitae feugiat pretium, elit diam hendrerit justo, ac dapibus diam risus.</p>
          <img src="../images/bullet.png" alt="" width="10" height="10" /> <a href="http://www.865171.cn/">Read More </a>
          <p>&nbsp;</p>
        </div>
        <div class="column2"> <img src="../images/泽森_.gif" alt="" width="117" height="85" />
          <h3>李泽森 </h3>
          <p>Curabitur auctor dictum augue. Quisque id ante vel odio luctus mollis. Vivamus risus ligula Fusce eget ipsum</p>
          <img src="../images/bullet.png" alt="" width="10" height="10" /> <a href="http://www.865171.cn/">Read More </a>
          <p>&nbsp;</p>
        </div>
        <div class="column3"> <img src="../images/润泽.gif" alt="" width="117" height="85" />
          <h3>刘润泽 </h3>
          <p>Praesent augue. Quisque mi quam, lacinia quis, sagittis at, molestie vitae, tortor. Mauris.</p>
          <img src="../images/bullet.png" alt="" width="10" height="10" /> <a href="http://www.865171.cn/">Read More </a>
          <p>&nbsp;</p>
        </div>
        <div class="column1"> <img src="../images/shao.gif" alt="" width="117" height="85" />
          <h3>王少锐 </h3>
          <p> Aliquam congue, elit vitae feugiat pretium, elit diam hendrerit justo, ac dapibus diam risus.</p>
          <img src="../images/bullet.png" alt="" width="10" height="10" /> <a href="http://www.865171.cn/">Read More </a>
          <p>&nbsp;</p>
        </div>
        <div class="column2"> <img src="../images/益波.gif" alt="" width="117" height="85" />
          <h3>江益波 </h3>
          <p>Curabitur auctor dictum augue. Quisque id ante vel odio luctus mollis. Vivamus risus ligula Fusce eget ipsum</p>
          <img src="../images/bullet.png" alt="" width="10" height="10" /> <a href="http://www.865171.cn/">Read More </a>
          <p>&nbsp;</p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>

