<div id="content">
      <div id="homeleft">
        <h2>关于<span class="green">我们</span></h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ullamcorper enim ullamcorper felis. Maecenas id eros sed neque pharetra vehicula. Fusce porta risus vitae diam. Proin commodo lacinia massa. Nam in tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam neque. Sed et magna. Proin tempor orci in lectus. In condimentum lorem sed est. Donec dui urna, viverra vitae, faucibus adipiscing, congue a, dui. Pellentesque interdum ullamcorper enim. Fusce feugiat eros in leo. Vestibulum consequat malesuada arcu. Sed velit nulla, rhoncus a, ornare et, ultrices id, diam. </p>
        <p>Etiam et elit. Praesent pharetra. Integer blandit. In aliquet elit in lorem. Integer quis turpis. Etiam urna erat, mattis nec, volutpat eget, varius a, mauris. Ut metus. Donec sit amet enim et leo semper semper. Fusce lectus. Sed sed arcu ac justo semper cursus. Duis semper. Curabitur lobortis massa eget neque. Aenean id sem ac purus ullamcorper fermentum. Integer iaculis. Praesent cursus. </p>
        <p>Praesent faucibus congue orci. In urna. Nullam eget turpis. Maecenas rutrum arcu non lectus. Cras nulla quam, porta in, tristique suscipit, tempus eget, magna. Curabitur egestas, augue ac tincidunt fringilla, arcu nulla ornare magna, sed porta mauris nisi in purus. Nulla semper. Aliquam commodo. In dapibus varius dui. Aenean eget mi. Donec tristique, justo sed tempus bibendum, justo tellus tempus tellus, nec euismod risus dui cursus enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam rhoncus erat sed justo. Proin commodo, arcu eget convallis pharetra, mi elit vulputate dui, et mollis mauris urna id purus. Vestibulum rhoncus. Sed luctus. Praesent metus purus, mollis eget, blandit eget, luctus nec, leo. Curabitur leo lacus, fringilla dignissim, consequat a, tincidunt ac, leo. Aliquam erat volutpat. Vivamus ornare metus sit amet enim. </p>
        <h2>开发 <span class="green">人员</span></h2>
        <p>*1.com招聘网专注于企业人才招聘，为您揽集您需要的人才.
*1.com 是我们招聘网代号，它代表惠州学院计算机系08级计算机1班.
*该网站由08计1的网站建设小团队集体完成，团队成员分别是王少锐、刘润泽、李泽森、邬晓玲、江益波. <img src="../images/bullet.png" alt="" width="10" height="10" /> <a href="http://www.865171.cn/">Read More </a></p>
        <p>&nbsp;</p>
      </div>
      <div id="homeright">
        <h2> 我们 <span class="green">图片show</span></h2>
        <div class="column1"> <img src="../images/xiaoling.gif" alt="" width="117" height="85" />
          <h3>邬晓玲 </h3>
          <p> Aliquam congue, elit vitae feugiat pretium, elit diam hendrerit justo, ac dapibus diam risus.</p>
          <img src="../images/bullet.png" alt="" width="10" height="10" /> <a href="http://www.865171.cn/">Read More </a>
          <p>&nbsp;</p>
        </div>
        <div class="column2"> <img src="../images/泽森_.gif" alt="" width="117" height="85" />
          <h3>李泽森 </h3>
          <p>Curabitur auctor dictum augue. Quisque id ante vel odio luctus mollis. Vivamus risus ligula Fusce eget ipsum</p>
          <img src="../images/bullet.png" alt="" width="10" height="10" /> <a href="http://www.865171.cn/">Read More </a>
          <p>&nbsp;</p>
        </div>
        <div class="column3"> <img src="../images/润泽.gif" alt="" width="117" height="85" />
          <h3>刘润泽 </h3>
          <p>Praesent augue. Quisque mi quam, lacinia quis, sagittis at, molestie vitae, tortor. Mauris.</p>
          <img src="../images/bullet.png" alt="" width="10" height="10" /> <a href="http://www.865171.cn/">Read More </a>
          <p>&nbsp;</p>
        </div>
        <div class="column1"> <img src="../images/shao.gif" alt="" width="117" height="85" />
          <h3>王少锐 </h3>
          <p> Aliquam congue, elit vitae feugiat pretium, elit diam hendrerit justo, ac dapibus diam risus.</p>
          <img src="../images/bullet.png" alt="" width="10" height="10" /> <a href="http://www.865171.cn/">Read More </a>
          <p>&nbsp;</p>
        </div>
        <div class="column2"> <img src="../images/益波.gif" alt="" width="117" height="85" />
          <h3>江益波 </h3>
          <p>Curabitur auctor dictum augue. Quisque id ante vel odio luctus mollis. Vivamus risus ligula Fusce eget ipsum</p>
          <img src="../images/bullet.png" alt="" width="10" height="10" /> <a href="http://www.865171.cn/">Read More </a>
          <p>&nbsp;</p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>

