public/js_include_cached
tmp
db/test.sqlite3-journal
tags
.DS_Store
*.xls
.irbrc
config/database.yml
rails.tmproj
tmtags
sql
sql/*.sql
import
spec/spec.opts
db/schema.rb
*.js~
*.rb~
vendor/bundler_gems
