<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>RS14 by www.865171.cn</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!link href="style.css" rel="stylesheet" type="text/css" />
<%= stylesheet_link_tag 'style.css' %>
</head>
<body>
<div id="wrap">
  <div id="header">
    <div id="logo">
      <h2 id="sitename">wando招聘网</span></h2>
      <h3 class="description">没有做不到，只有想不到</h3>
    </div>
    <div id="headercontent">
      <h2>专注于专业服务</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique, felis ut vehicula laoreet, nunc dolor bibendum tortor, a faucibus eros tortor sed nunc. Aliquam eget arcu. Nam sem justo, vulputate eget, cursus id, volutpat ullamcorper, felis. In eget velit ut diam ultrices ultrices. <img src="../images/bullet.png" alt="" width="10" height="10" /> <a href="http://www.865171.cn/">Read More</a></p>
      <p>&nbsp;</p>
    </div>
    <div id="sitecption"> 专注于招聘适合公司的 <span class="bigger">人才</span> 市场 </div>
  </div>
  <div id="main">
    <div id="menus">
      <div id="mainmenu">
        <ul>
          <li class="first" id="active"><a href="index.html">主页</a></li>
          <li><a href="about.html">关于我们</a></li>
          <li><a href="products.html">最想资讯</a></li>
          <li><a href="services.html">网站动态</a></li>
          <li><a href="news.html">用户信息</a></li>
          <li><a href="contact.html">联系我们</a></li>
          <li><a href="contact.html">后台管理</a></li>
        </ul>
      </div>
      <div id="submenu">
        <ul>
          <li><a href="http://www.865171.cn/">Lorem Ipsum</a></li>
          <li><a href="http://www.865171.cn/">Dolor Sit Amet</a> </li>
          <li><a href="http://www.865171.cn/">Consectetur Adipiscing </a></li>
          <li><a href="http://www.865171.cn/">Cras Tristique</a></li>
        </ul>
      </div>
    </div>
    <div id="content">
      <div id="homeleft">
        <h2>main <span class="green">content</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique, felis ut vehicula laoreet, nunc dolor bibendum tortor, a faucibus eros tortor sed nunc. Aliquam eget arcu. Nam sem justo, vulputate eget, cursus id, volutpat ullamcorper, felis. In eget velit ut diam ultrices ultrices. Phasellus neque. Nullam et quam id augue rutrum molestie. Fusce eget ipsum. <img src="../images/bullet.png" alt="" width="10" height="10" /> <a href="http://www.865171.cn/">Read More </a></p>
        <h2>another <span class="green">content</span></h2>
        <p>Donec dolor sem, mattis in, blandit ut, interdum eu, pede. Donec id dui a lacus fringilla viverra. Cras quis lectus a libero lobortis fermentum. Curabitur nec nisl auctor felis varius ullamcorper. Aenean est. Morbi adipiscing leo ut nisl. Vivamus risus ligula, facilisis et, imperdiet et, adipiscing egestas, ipsum. Morbi auctor fringilla dui. Maecenas viverra. <img src="../images/bullet.png" alt="" width="10" height="10" /> <a href="http://www.865171.cn/">Read More </a></p>
        <p>&nbsp;</p>
      </div>
      <div id="homeright">
        <h2> our <span class="green">services</span></h2>
        <div class="column1"> <img src="../images/img1.gif" alt="" />
          <h3>Service Title</h3>
          <p> Aliquam congue, elit vitae feugiat pretium, elit diam hendrerit justo, ac dapibus diam risus.</p>
          <img src="../images/bullet.png" alt="" width="10" height="10" /> <a href="http://www.865171.cn/">Read More </a>
          <p>&nbsp;</p>
        </div>
        <div class="column2"> <img src="../images/img2.gif" alt="" width="129" height="84" />
          <h3>Service Title</h3>
          <p>Curabitur auctor dictum augue. Quisque id ante vel odio luctus mollis. Vivamus risus ligula Fusce eget ipsum</p>
          <img src="../images/bullet.png" alt="" width="10" height="10" /> <a href="http://www.865171.cn/">Read More </a>
          <p>&nbsp;</p>
        </div>
        <div class="column3"> <img src="../images/img3.gif" alt="" />
          <h3>Service Title</h3>
          <p>Praesent augue. Quisque mi quam, lacinia quis, sagittis at, molestie vitae, tortor. Mauris.</p>
          <img src="../images/bullet.png" alt="" width="10" height="10" /> <a href="http://www.865171.cn/">Read More </a>
          <p>&nbsp;</p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div id="footer"> www.865171.cn &copy; All Rights Reserved <br />
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique, felis ut vehicula laoreet, nunc dolor bibendum tortor <br />
    design by <a href="http://www.865171.cn">www.865171.cn</a></div>
</div>
</body>
</html>
